<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">


     <div *ngFor="let use of user">{{use.email}}
     {{use.name}}</div>

<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>

    <form>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
        <input name="name" class="form-control" placeholder="Full name" type="text" [(ngModel)]="register.first_name">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
        <input name="name" class="form-control" placeholder="Full name" type="text" [(ngModel)]="register.last_name">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
         </div>
        <input name="email" class="form-control" placeholder="Email address" type="email" [(ngModel)]="register.email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
    
        <input name="phonenumber" class="form-control" placeholder="Phone number" type="text" [(ngModel)]="register.phone_number">
    </div> <!-- form-group// -->
   
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input name="password" class="form-control" placeholder="Create password" type="password" [(ngModel)]="register.password">
    </div> <!-- form-group// -->
 <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
        </div>
        <input name="password" class="form-control" placeholder="Address" type="address" [(ngModel)]="register.address">
    </div> <!-- form-group// -->
     <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input name="password" class="form-control" placeholder="City" type="city" [(ngModel)]="register.city">
    </div> <!-- form-group// -->
     <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
        </div>
        <input name="password" class="form-control" placeholder="State" type="state" [(ngModel)]="register.state">
    </div> <!-- form-group// -->
     <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input name="password" class="form-control" placeholder="Contry" type="contry" [(ngModel)]="register.contry">
    </div> <!-- form-group// -->








    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-map-pin"></i> </span>
        </div>
        <input name="confirmpassword" class="form-control" placeholder="Pincode" type="pincode" [(ngModel)]="register.pincode">
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="registersave()"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a class="nav-link"  [routerLink]="['']">Log In</a> </p>                                                                 
</form>